<div class="page-container">
  <h2 class="page-title">רשימת קליטות קבצים</h2>

  <!-- כרטיסי סטטוס -->
  <div class="status-cards">
    <div class="card border-blue">
      <div class="value">12</div>
      <div class="label">ממתין</div>
    </div>
 <div class="card border-yellow">
      <div class="value">3</div>
      <div class="label">בתהליך</div>
    </div>
    
    <div class="card border-green">
      <div class="value">145</div>
      <div class="label">הצלחה</div>
    </div>
   
    <div class="card border-red">
      <div class="value">8</div>
      <div class="label">כישלון</div>
    </div>
  </div>
<div class="card filters-card">
  <!-- כאן הפילטרים -->

  <!-- פילטרים -->
  <div class="filters">
    <input type="date" [(ngModel)]="startDate" />
    <input type="date" [(ngModel)]="endDate" />
    <select [(ngModel)]="selectedSystem">
      <option value="">כל המערכות</option>
      <option value="מערכת עובדים">מערכת עובדים</option>
      <option value="מערכת חירום">מערכת חירום</option>
      <option value="מערכת תיירות">מערכת תיירות</option>
    </select>
    <select [(ngModel)]="selectedSource">
      <option value="">כל המקורות</option>
      <option value="קליטת עובדים סוציאליים">קליטת עובדים סוציאליים</option>
      <option value="קליטת משמרות">קליטת משמרות</option>
      <option value="קליטת בתי מלון">קליטת בתי מלון</option>
    </select>
    <select [(ngModel)]="selectedStatus">
      <option value="">כל הסטטוסים</option>
      <option value="success">הצלחה</option>
      <option value="in-progress">בתהליך</option>
      <option value="error">כישלון</option>
      <option value="pending">מוכן</option>
    </select>
    <input type="text" [(ngModel)]="searchTerm" placeholder="שם קובץ..." />
    <button class="btn-search">חפש</button>
    <button class="btn-reset">איפוס פילטרים</button>
    <label>
      <input type="checkbox" [(ngModel)]="onlyErrors" />
      הצג רק קליטות עם שגיאות
    </label>
  </div>
</div>
<div class="card table-card">
  <div class="table-header">
    <button mat-raised-button color="primary" (click)="exportToExcel()">
      <!-- <mat-icon>download</mat-icon> -->
      יצוא לאקסל
    </button>
  </div>

<div class="card table-card">
  <!-- טבלה -->
  <table  class="data-table">
    <thead>
      <tr>
        <th>מ"ז קליטה</th>
        <th>תיאור מקור</th>
        <th>מערכת</th>
        <th>שם קובץ</th>
        <th>תחילת קליטה</th>
        <th> סיום קליטה </th>
        <th>שורות בקובץ</th>
        <th> שורות שנקלטו</th>
        <th>שורות פגומות </th>
        <th>סטטוס</th>
        <th>פעולות</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData">
        <td>{{ item.id }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.system }}</td>
        <td>{{ item.fileName }}</td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.endDate }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.loaded }}</td>
        <td>{{ item.failed }}</td>
        <td>
          <span class="status-tag"
                [ngClass]="{
                  'success': item.status === 'success',
                  'error': item.status === 'error',
                  'yellow': item.status === 'in-progress',
                  'gray': item.status === 'pending'
                }">
            {{ item.statusLabel }}
          </span>
        </td>
        <td>קובץ שגיאות</td>
      </tr>
    </tbody>
  </table>
  </div>

</div>
</div>

