<div class="page-container">
      <div class="page-header">
        <h1>רשימת קבצים</h1>
        <a routerLink="/add-file" class="add-btn">הוסף קובץ חדש</a>
      </div>
      <app-search-file (searchEvent)="onSearch($event)"></app-search-file>
     <app-files-view 
  [systems]="systems" 
  [searchCriteria]="searchCriteria"  
   
  (clearSearchEvent)="onClearSearch()">
</app-files-view>


      <!-- <app-files-view [searchCriteria]="searchCriteria" (clearSearchEvent)="onClearSearch()"></app-files-view> -->
    </div>